* {
    margin: 0;
    box-sizing: border-box;
}

/* to avoid Browser to messup with input fields formatting... */
/* ... solution found Googling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: hsl(270, 3%, 87%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-image: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

.container {
    width: 1440px;
    height: 900px;
    display: flex;
    flex-direction: row;
}

.card-box {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

.card-front {
    margin: 0px 0px 20px 20%;
    width: 447px;
    height: 245px;
    background-image: url("./images/bg-card-front.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.card-back {
   width: 447px;
   height: 245px;
   background-image: url("./images/bg-card-back.png");
   background-repeat: no-repeat;
   margin: 20px 20px 0px 40%;
   position: relative;
}

.cvv-back {
    position: absolute;
    top: 110px;
    right: 55px;
    text-align: right;
    color:hsl(0, 0%, 100%);
    letter-spacing: 1px;
    font-size: 18px;
}


.form-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inputForm {
    display: flex;
    flex-direction: column;
}

.field-div {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    width: 330px;
}

.entry-input {
    width: 100%;
    height: 40px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
}

.entry-label {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: hsl(278, 68%, 11%);
}

.exp-date-cvc-map {
    display: grid;
    grid-template-areas: 
                "date-label date-label cvc-label"
                "mm-input   yy-input   cvc-input"
                "err-msg-mm err-msg-yy err-msg-cvv";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 2fr;
}

.err-msg-number {
    font-size: 9px;
    color: white;
}

.err-msg-mm {
    grid-area: err-msg-mm;
    font-size: 9px;
    color:white;
}

.err-msg-yy {
    grid-area: err-msg-yy;
    font-size: 9px;
    color: white;
}

.err-msg-cvv {
    grid-area: err-msg-cvv;
    font-size: 9px;
    color:white;
}


.exp-date-grid-area {
    grid-area: date-label;
    
    
}

.cvc-grid-area {
    grid-area: cvc-label;
}

.mm-input {
    grid-area: mm-input;
    width: 90%;
}

.yy-input {
    grid-area: yy-input;
    width: 90%;
}

.cvc-input {
    grid-area: cvc-input;
}

.adjust-margin-cvc {
    width: 96%;
    margin-left:4%
}

.btn {
    width: 330px;
    margin-top: 38px;
    color: hsl(0, 0%, 100%);
    background: hsl(278, 68%, 11%) ;
    padding: 15px 0px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 8px;
    font-size: 14px;
}

.card-front {
    display: flex;
    flex-direction: column;
}

.card-front-up {
    height: 50%;
    padding: 15px 24px;
}

.card-front-down {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.card-front-name {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin: auto 0px;
}

.card-number {
    text-align: center;
    font-size: 26px;
    height: 50%;
}

.card-name {
    width: 70%;
    padding-left: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.card-expdate {
    width: 30%;
    text-align: right;
    padding-right: 50px;
}

.thankYou {
    display: none
}

.font26 {
    font-size: 26px;
}

.fontDark {
    color:hsl(278, 68%, 11%);
}

.fontMedium {
    color: hsl(279, 6%, 55%);
}

.fontClear {
    color: hsl(270, 3%, 87%);
}

.font14 {
    font-size: 14px;
}

.mt20 {
    margin-top: 20px;
}

.cSpace1 {
    letter-spacing: 1px;
}

.mt40 {
    margin-top: 40px;
}